* {
  box-sizing: border-box;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 900px;
  height: 10px;
  background: gold;
  outline: none;
  opacity: 0.1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 12px;
  background: darkgreen;
  cursor: pointer;
} 

.slider::-moz-range-thumb {
  width: 20px;
  height: 10px;
  background: #FF11BB;
  cursor: pointer;
}

.sliderticks {
    width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.float-left-child {
  float: left;
}

.parent {
  background: mediumpurple;
  padding: 1rem;
}

.child {
  border: 1px solid indigo;
  padding: 1rem;
}

.container {
  float: left;
}

.default-font {
  font-family: 'Roboto', sans-serif;
}

.p1 {
  font-family: 'Ubuntu', sans-serif;
}
